body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F1E4E8;
}

h1 {
  font-size: 100px;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 300;
  color: #B97375;
  position: relative;
}

h1::before {
  content: "#SIXSEVEN";
  position: absolute;
  top: 0%;
  left: 0%;
  color:#412234;
  width: 0%;
  overflow: hidden;
  transition: all 0.6s;
}

h1:hover::before {
  width: 100%;
}