body{
  background-color:#F1E4E8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: #CEB1BE;
  display: flex;
  position: relative;
  overflow: hidden;
}

.card a{
  width: 100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #412234;
  font-size: 40px;
  transition: .4s linear;
}

.card a:hover{
  color: #B97375;
}

.bar{
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #B97375;
  bottom: 0;
  left: -100px;
  transition: .5s ease;
}

.card a:nth-child(1):hover ~ .bar{
  left:0;
}

.card a:nth-child(2):hover ~ .bar{
  left: 100px;
}

.card a:nth-child(3):hover ~ .bar{
  left:200px;
}

.card a:nth-child(4):hover ~ .bar{
  left:300px;
}

.card a:nth-child(5):hover ~ .bar{
  left:400px;
}

.card a:nth-child(6):hover ~ .bar{
  left:500px;
}

